@media only screen and (max-width: 1200px) {
  .col-large-1 {
    width: 10%; }
  .col-large-2 {
    width: 20%; }
  .col-large-3 {
    width: 30%; }
  .col-large-4 {
    width: 40%; }
  .col-large-5 {
    width: 50%; }
  .col-large-6 {
    width: 60%; }
  .col-large-7 {
    width: 70%; }
  .col-large-8 {
    width: 80%; }
  .col-large-9 {
    width: 90%; }
  .col-large-10 {
    width: 100%; } }

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .col-medium-1 {
    width: 12.5%; }
  .col-medium-2 {
    width: 25%; }
  .col-medium-3 {
    width: 37.5%; }
  .col-medium-4 {
    width: 50%; }
  .col-medium-5 {
    width: 62.5%; }
  .col-medium-6 {
    width: 75%; }
  .col-medium-7 {
    width: 87.5%; }
  .col-medium-8 {
    width: 100%; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .col-table-1 {
    width: 16.66667%; }
  .col-table-2 {
    width: 33.33333%; }
  .col-table-3 {
    width: 50%; }
  .col-table-4 {
    width: 66.66667%; }
  .col-table-5 {
    width: 83.33333%; }
  .col-table-6 {
    width: 100%; } }

@media only screen and (min-width: 321px) and (max-width: 479px) {
  .col-sm-1 {
    width: 25%; }
  .col-sm-2 {
    width: 50%; }
  .col-sm-3 {
    width: 75%; }
  .col-sm-4 {
    width: 100%; } }

@media only screen and (max-width: 320px) {
  .col-exs-1 {
    width: 50%; }
  .col-exs-2 {
    width: 100%; } }
